# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.idea/
input/
preprocessing/PubMed-and-PMC-w2v.bin
preprocessing/oov.txt
save.m
test_tokenizer.txt
simple_input/
200_protocols/
results/
console.out
csv_results/
data/
out.txt
plot_data.p
preprocessing/dataset/
preprocessing/embedding_matrix.p
Would skip repository preprocessing/feature_engineering/geniatagger/
preprocessing/feature_engineering/stanford-parser-full-2016-10-31/
preprocessing/feature_engineering/stanford-postagger-full-2014-08-27/
preprocessing/feature_engineering/stanford-postagger-full-2017-06-09/
preprocessing/feature_engineering/test_posTagger.py
preprocessing/features_pickle.p
preprocessing/pubmed_vocab.txt
preprocessing/run1.txt
preprocessing/unigrams.txt
simple_input2/
temp.txt
visualization/data/
visualization/pos_results/
